resource_group_name = "class-schedule-rg"
location            = "East US"

prefix = "dev"

#vnet
vnet_address_space           = "10.0.0.0/16"
backend_subnet_address_space = "10.0.1.0/24"
app_subnet_address_space     = "10.0.2.0/24"
