az_subscription_id = "5481f3fa-f147-438b-930d-8d36c63814b0"
resource_group_name = "class-schedule-rg"
location = "East US"
prefix = "schedule"

vnet_address_space = "10.0.0.0/16"
backend_subnet_address_space = "10.0.1.0/24"
app_subnet_address_space = "10.0.2.0/24"

app_vm_size = "Standard_B1s"
admin_username = "azureuser"
app_pub_ip_allocation_method = "Static"
app_pub_ip_sku = "Standard"
app_vm_os_disk_caching = "ReadWrite"
app_vm_os_disk_storage_account_type = "Standard_LRS"
app_vm_pub_key_path = "~/.ssh/vagrant_id_ed25519.pub"
